<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Pirámides de Guiza</h1>
            <h2 class="o-module-header__subtitle">Se conforman por tres pirámides mayores, Keops, Kefrén y Micerino, y tres pirámides de un tamaño
                menor denominadas las pirámides de las reinas situadas en Guiza, Eqipto. Estas obras iniciaron su construcción sobre el año 
                2500 a.C. </h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <figure class="centrar">
        <a href="assets/piramides.jpg" target="blank"><img class="image" src="assets/piramides.jpg"></a>
        <figcaption>Pirámides de Guiza</figcaption>
      </figure>
      <figure class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d8433.327854758078!2d31.130419469747707!3d29.97556839150201!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1spiramides%20de%20giza!5e1!3m2!1ses!2ses!4v1656343861491!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </figure>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>Las teorías sobre su construcción se basan en el movimiento de enormes piedras obtenidas de canteras, arrastrándolas y 
                    colocándolas en su lugar. Las discrepancias surgen a la hora de trasladar y colocar estas piedras, pues las
                    pirámides se han conservado durante miles de años, por lo que los arquitectos de esa época debieron inspeccionar las 
                    posibles zonas de ubicación de las pirámides y el método para acomodar las piedras. Así mismo, para garantizar la 
                    simetría de las pirámides, las piedras de revestimiento exterior debían ser iguales en altura y anchura. </p>
                <p>El principal propósito de su construcción fue el de albergar los restos de los faraones fallecidos que gobernaron el 
                    Antiguo Egipto, puesto que se creía que una parte del espíritu del faraón permanecía con su cadáver. Normalmente, la 
                    pirámide adoptaba el nombre del faraón que conservaba. Otro de los propósitos, aunque no está demostrado, era la
                    utilización de estas como almacenamiento para varios artículos que necesitaría el faraón en la otra vida. El
                    procedimiento para guardar los restos consistía primeramente en la embalsamación de estos y en la siguiente sepultación, 
                    debajo o en el interior de la pirámide, para protegerlo y permitir su transformación y ascenso al más allá. </p>
                <section> <!-- Pirámide de Keops -->
                    <h4>Pirámide de Keops</h4>
                    <p>Es la pirámide de mayor altura, 140 metros sobre una base de 230 metros, y volumen que conforman las pirámides de Giza. 
                      Está considerada como una de las Site Maravillas del Mundo y es la única de las siete que perdura. Para evitar que
                        esta sufriese una inclinación como la que experimentaron otras pirámides, se construyo una plataforma nivelada sobre
                        la roca, dejando una masa de roca natural en el interior de la pirámide. Esta construcción fue muy innovadora. </p>
                </section>
                <section> <!-- Pirámide de Kefren -->
                    <h4>Pirámide de Kefren</h4>
                    <p>Es la pirámide que alberga al hijo de Keops, Kefren. Se encuentra alineada con la de su padre en dirección al suroeste.
                        Es considerada la segunda pirámide más grande de Egipto, con 143,5 metros, a pesar de que parece la de mayor altura
                        debido a su construcción en una zona más elevada de la meseta de Guiza. </p>
                </section>
                <section> <!-- Pirámide de Micerino -->
                    <h4>Pirámide de Micerino</h4>
                    <p>Es la pirámide más pequeña de las tres principales, situada en un extremo de la meseta de Guiza, en dirección al sur.</p>
                </section>
                <section> <!-- Pirámides de las reinas -->
                    <h4>Pirámides de las reinas</h4>
                    <p>El faraón Keops encargó construir tres pirámides más destinadas a almacenar los restos de las reinas. Estas fueron construidas
                        en el lado oriental de la gran pirámide. En cuanto a su tamaño, sus aristas son una quinta parte de las de la pirámide de 
                        Keops y la pendiente de unos 52º. </p>
                </section>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elementos matemáticos: Pirámides y astronomía</h3>
                <p> </p>
                <p class="elemento"><a href="piramides">Pirámides</a></p>

                <p class="definicion">La pirámide se define como una figura tridimensional con una base, que es un <a href="poliedros">poliedro</a>, y cuyos vértices se unen en un único punto
                    exterior. </p>
                <p>El uso de la pirámide para la construcción de los lugares de descanso de los faraones fue debido a la asociación de la aparición 
                    y el resurgimiento de la vida en la que creían los antiguos egipcios.
                </p>
                <p class="elemento">Astronomía</p>

                <figure class="s2">
                  <img class="image" src="assets/piramides-astronomia.jpeg">
                  <figcaption>Muestra uso astronomia en las piramides</figcaption>
                </figure>

                <p>Los lados de las tres principales pirámides de Guiza se encuentran orientados astronómicamente de norte a sur y de este a oeste 
                    en una pequeña fracción de grado. Muchos expertos intentaron explicar este hecho, lo que llevó a la deducción que la 
                    disposición era una representación de la constelación de Orión según la teoría de la correlación de Orión. </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  