<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Pirámides</h1>
          </div>
        </div>
      </section>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
                <section>
                    <p>Las pirámides son <a href="poliedros">poliedros</a> que sus caras laterales son triángulos y la base puede ser cualquier 
                        <a href="poligonos">polígono</a>. Las tres caras laterales se unen en un vértice llamado vértice de la pirámide o ápice. </p>
                    <h2>Elementos de una pirámide</h2>
                    <figure class="s2">
                        <a href="assets/piramide-elementos.png" target="blank"><img class="image-elementos" src="assets/piramide-elementos.png"></a>
                        <figcaption>Elementos de una pirámide</figcaption>
                    </figure>
                    <ul>
                        <li>Caras (C): Triángulos laterales de la pirámide y la base.</li>
                        <li>Base (B): Es un polígono que no está unido al ápice.</li>
                        <li>Vértice de la pirámide (Vp): También llamado ápice. Punto donde intersecan las caras laterales.</li>
                        <li>Vértices de la base (Vb): Vértices del polígono que forma la base.</li>
                        <li>Centroide de la base Cb: Punto central del polígono que constituye la base.</li>
                        <li>Altura (h): Distancia desde el centroide de la base al ápice.</li>
                        <li>Aristas (a): Líneas donde se unen dos caras. Se llaman aristas básicas a las pertenecientes a la base y aristas 
                            laterales a las que tocan el ápice. </li>
                        <li>Apotema de la pirámide (ap): Segmento perpendicular desde el ápice a un lado de la base. Se podría decir que es la 
                            altura de una cara lateral. Esta apotema se puede calcular mediante el Teorema de Pitágoras:
                            <p class="formula">$$ ap = \sqrt h^2 + ab^2 \text &#123; ,&#125; $$</p>
                            $$ \text &#123;donde h es la altura, ap la apotema de la pirámide y ab la de la base. &#125; $$
                        </li>
                        <li>Apotema de la base (ab): Línea perpendicular desde el centroide de la base a un lado de esta.</li>
                    </ul>
                    <h2>Clasificación pirámides por el número de lados de la base</h2>
                    <figure class="s2">
                        <a href="assets/piramides-lados.png" target="blank"><img class="image-lados" src="assets/piramides-lados.png"></a>
                        <figcaption>Clasificación pirámides por el número de lados de la base</figcaption>
                    </figure>
                    <ul>
                        <li>Triangular: Su base es un triángulo. También se denomina tetraedro.</li>
                        <li>Cuadrangular: Posee una base cuadrada.</li>
                        <li>Pentagonal: Tiene como base un pentágono.</li>
                        <li>Hexagonal: Su base es un hexágono.</li>
                        <li>Heptagonal: La base es un heptágono.</li>
                        <li>Para nombrar pirámides que tienen un número distinto de lados a los anteriores se utiliza el nombre del polígono que 
                            constituye la base con terminación -al.</li>
                    </ul>
                    <h2>Clasificación pirámides por la forma de sus caras</h2>
                    <figure class="s2">
                        <a href="assets/piramides-forma-caras.png" target="blank"><img class="image-lados" src="assets/piramides-forma-caras.png"></a>
                        <figcaption>Clasificación pirámides por el número de lados de la base</figcaption>
                    </figure>
                    <ul>
                        <li>Recta: Todas sus caras laterales son triángulos isósceles iguales entre sí. La altura se encuentra en el centro
                            de la base. </li>
                        <li>Oblicua: Al menos una de sus caras laterales no es un triángulo isósceles igual a los demás.</li>
                    </ul>
                    <h2>Clasificación pirámides por la forma de la base</h2>
                    <p>En esta clasificación una pirámide no puede ser al mismo tiempo regular e irregular, ni convexa y cóncava. Las demás 
                        combinaciones si son posibles. </p>
                    <figure class="s2">
                        <a href="assets/piramides-forma-base.png" target="blank"><img class="image-base" src="assets/piramides-forma-base.png"></a>
                        <figcaption>Clasificación pirámides por el número de lados de la base</figcaption>
                    </figure>
                    <ul>
                        <li>Regular: Su base es un polígono regular y es una pirámide recta, es decir, sus caras laterales son triángulos
                            isósceles iguales. </li>
                        <li>Irregular: La base es un polígono irregular o es una pirámide oblicua.</li>
                        <li>Convexa: Cuando la base es un polígono convexo.</li>
                        <li>Cóncava: La base es un polígono cóncavo.</li>
                    </ul>
                    <h2>Área de la pirámide</h2>
                    <p>El área de una pirámide regular se calcula:</p>
                    <p class="formula">$$ A = \frac &#123;n \cdot l&#125; &#123;2&#125; \cdot (ab + ap) \text &#123; ,&#125; $$</p>
                    <p>$$ \text &#123;siendo A_b el área de la base y A_l la suma de las áreas de las caras laterales. &#125; $$</p>
                    <p>El área de una pirámide irregular es:</p>
                    <p class="formula">$$ A = A_b + A_l \text &#123; ,&#125; $$</p>
                    <p>$$ \text &#123;siendo n el número de lados de la base, l su longitud, ab la apotema de la base, &#125; $$</p>
                    <p>$$ \text &#123;ab la apotema de la base y ap la apotema de la pirámide. &#125; $$</p>
                    <h2>Volumen de la pirámide</h2>
                    <p class="formula">$$ Volumen = \frac &#123;1&#125; &#123;3&#125; \cdot A_b \cdot h \text &#123; ,&#125; $$</p>
                    <p>$$ \text &#123;siendo A_b el área de la base y h la altura de la pirámide. &#125; $$</p>
                </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
</div>