<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Partenón</h1>
            <h2 class="o-module-header__subtitle">Está situado en Atenas, Grecia y fue construido entre los años 447 a.C. y 432 a.C.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <figure class="centrar">
        <a href="assets/partenon.jpg" target="blank"><img class="image" src="assets/partenon.jpg"></a>
        <br> <i>Partenón de Atenas</i>
      </figure>
      <figure class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2281.7092097685604!2d23.725312857696995!3d37.97142136009981!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14a1bd19ca39ee61%3A0x1b3fa079b878a218!2zUGFydGVuw7Nu!5e1!3m2!1ses!2ses!4v1656344106205!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </figure>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>En el año 490 a.C para festejar la victoria sobre los persas en la batalla de Maratón, los atenienses decidieron construir
                  un templo a Atenea, diosa de la Sabiduría y las Artes. En el año 480 a.C., un nuevo ejército persa irrumpió en Grecia y, 
                  tras despejar el paso de las Termópilas, arrasó la ciudad de Atenas, en especial los edificios religiosos de la Acrópolis. 
                  De este modo, el nuevo templo, que se encontraba todavía en fase de construcción, fue destruido. </p>
                <p>Durante más de tres décadas, la Acrópolis permaneció en ruinas. En el año 449 a.C., Pericles, aprovechando la favorable 
                  situación militar y económica de Atenas, propuso su reconstrucción. En esta reconstrucción, planteó como pieza clave un nuevo
                  templo dedicado a Atenea. Este nuevo templo se inauguró en el año 438 a.C., convirtiéndose por su particular belleza y
                  perfección en el simbolo de la ciudad y de toda la civilización griega. </p>
                <p>Durante la Guerra de la Independencia griega (1821 - 1832), los turcos lo utilizaron como almacén y a causa de un descuido,
                  hubo una explosión que rompió y deshizo en pedazos el techo del Partenón. De igual forma, se dice que durante esta misma
                  guerra, los turcos para realizar munición desmontaron los bloques del Partenón y los atenienses al ver como destruían su 
                  símbolo nacional hicieron un trato proporcionándoles munición. </p>
              </section>
              <section>
                <h3>Construcción</h3>
                <p>Pericles designó como supervisor de la construcción a su amigo Fidias. Asimismo, Fidias se encargó de construir la enorme 
                  estatua criselefantina situada en su interior. Este se centró, principalmente, en la decoración escultórica del conjunto,
                  mientras de la construcción se encargaban dos arquitectos, Ictino y Calícrates. Este templo, también, necesitó multitud
                  de obreros especializados.</p>
                <p>Los arquitectos aprovecharon los cimientos del antiguo templo destruido por los persas, pero tuvieron que realizar una
                  ampliación hacia el lado norte de la explanada de la Acrópolis. </p>
                <p>El Partenón está hecho de mármol blanco. Se compone de ocho columnas frontales y diecisiete en los laterales. Están columnas tienen un estilo dórico, 
                  cada una mide 10.93 metros de alto y 1.91 metros de diámetro. Cada columna está formada por diez o doce tambores. Apoyadas
                  en ellas se instalaron los arquitrabes, bloques de mármol colocados en forma horizontal. </p>

                <figure class="s2">
                  <a href="assets/partenon-atenea.jpg"><img class="image" src="assets/partenon-arquitrabe.jpg"></a>
                  <figcaption>Arquitrabe</figcaption>
                </figure>

                <p>En el interior se crearon dos estancias completamente separadas por un muro. En la más amplia, la <i>naos</i> se alojaría 
                  la monumental estatua de Atenea. En la segunda, se guardaba el tesoro de la ciudad y recibía el nombre de Partenón. En el 
                  siglo IV a.C., este nombre paso a designar todo el edificio. </p>

                <figure class="s2">
                  <a href="assets/partenon-atenea.jpg"><img class="image" src="assets/partenon-atenea.jpg"></a>
                  <figcaption>Estatua de Atenea</figcaption>
                </figure>

                <p>El templo tiene dos portones. El del este, que apenas se conserva, narraba el nacimiento de Atenea. </p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elementos matemáticos: Pitágoras y triángulo</h3>
                <p class="elemento">Pitágoras</p>
                <p>El Partenón es considerado "el templo dórico más perfecto jamás construido", pues se diseñó usando proporciones pitagóricas. 
                  Tiene que altura:ancho:largo se sitúan en las proporciones 16:36:81, o empleando Pitágoras 4<sup>2</sup>:6<sup>2</sup>
                  :9<sup>2</sup>. </p>
                <p class="elemento">Triángulo</p>
                <p>El <a href="triangulo">triángulo</a> se define como un <a href="poligonos">polígono</a> de tres lados, tres vértices y tres ángulos interiores.</p>
                <div class="s4">
                  <figure class="centrar">
                    <a href="assets/partenon-fronton.jpg"><img class="image" src="assets/partenon-fronton.jpg"></a>
                    <figcaption>Frontón del Partenón</figcaption>
                  </figure>
                  <figure class="centrar">
                    <a href="assets/partenon-frontones.png"><img class="image" src="assets/partenon-frontones.png"></a>
                    <figcaption>Escenas de los frontones del Partenón</figcaption>
                  </figure>
                </div>
                <p>En el Partenón el triángulo está presente en la cara frontal y en la trasera, tratándose de un triángulo isósceles. Se le llama
                  frontón a la estructura situada por encima de las columnas y debajo del techo del templo. </p>
                <p>En un principio, estos frontones eran lisos. Más tarde, se colocaron escenas completas, habitualmente de mitos, en ellos.</p>
                <p>En la actualidad, ambos frontones del templo se encuentran en ruinas.</p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  