<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Torre de Pisa</h1>
            <h2 class="o-module-header__subtitle">Situada en la plaza del Duomo de Pisa, en la ciudad homónima, es la torre del campanario
                de la catedral de Pisa</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <figure class="centrar">
        <a href="assets/torre-pisa.jpeg" target="blank"><img class="image" src="assets/torre-pisa.jpeg"></a>
        <figcaption>Torre de Pisa</figcaption>
      </figure>
      <figure class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3517.9019769287156!2d10.394553154999667!3d43.72295197912202!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d591a6c44e88cd%3A0x32eca9b1d554fc03!2sTorre%20de%20Pisa!5e1!3m2!1ses!2ses!4v1656343596401!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </figure>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <figure class="s2">
                  <a href="assets/torre-pisa-historia.jpg" target="blank"><img class="image-historia" src="assets/torre-pisa-historia.jpg"></a>
                  <figcaption>Estados de la torre de Pisa</figcaption>
                </figure>
                <p>La torre estaba compuesta inicialmente por tres niveles, la construcción del primero de estos se inició en 1173. En 1178, con
                    el inicio de la construcción del tercero, la torre comenzó a inclinarse hacia el Norte por el uso de cimientos débiles
                    colocados en un subsuelo inestable, decidiéndose paralizar la construcción. </p>
                <p>En 1272, Fernando di Vicenzo decidió retomar la edificación, opto por construir cuatro nuevos niveles con un cierto
                    ángulo, esperando que contrarrestará la inclinación. De hecho, tuvo éxito durante un tiempo.</p>
                <p>En 1372, Tommaso di Andrea Pisano construyó el último nivel, el campanario, ocasionando que se volviese a inclinar, pero 
                   esta vez hacia el sur. </p>
                <p>En otro intento de frenar la inclinación, Alessandro della Gherardesca excavó una senda alrededor de la torre para 
                    visualizar la base, lo que ocasiono una inundación y un incremento en la inclinación. </p>
                <p>En 1964, el Gobierno de Italia solicitó ayuda para evitar se derrumbe y en 1990 se decidió cerrar al público por seguridad.
                    Grupos de ingenieros propusieron muchas soluciones, una de ellas fue añadir 800 toneladas de plomo de contrapeso, otra, 
                    la más interesante, fue proponer el uso de los métodos de estabilización que se pusieron en práctica en las Islas Azores.
                    Antes de llegar a conseguir frenar la inclinación se llevaron a cabo dos propuestas, primero se retiraron las siete 
                    campanas situadas en el campanario, lo que no ocasiono ningún cambio, después un grupo de alpinistas intentaron anclar
                    la torre con cables de acero para contrarrestar la inclinación, devolviendo el mismo resultado. Finalmente, en 2008, la 
                    se eliminaron 70 toneladas de tierra de la zona inferior a la base, lo que ocasionó que se estabilizará, corrigiendo
                    también su inclinación un grado, durante al menos 200 años. </p>
                <p>Respecto al autor de la torre, se dice que el arquitecto renegó de su autoría al considerarla un fracaso. A pesar de ello,
                    el diseño, en un principio, se le atribuyó a Guglielmo, pero una reciente excavación decretó que fue Bonanno Pisano, un
                    escultor italiano que mezclaba elementos del arte bizantino y de la Antigüedad Clásica, quien realizó su diseño. </p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elementos matemáticos: Arcos, rombo, cilindro, escalera de caracol</h3>
                <p class="elemento">Arcos y rombos</p>
                <p>La torre de Pisa utiliza análogamente los elementos decorativos en su construcción que la Catedral de Pisa. Pues ambos
                  edificios tienen el mismo patrón. </p>
                <p>El círculo se define como una figura geométrica a partir de una curva que mantiene siempre la misma distancia a un punto
                  central. Tiene distintas partes, entre ellas se encuentra la circunferencia que hace referencia a la línea que rodea
                  al círculo. Por tanto, el círculo es todo lo que contiene la circunferencia. Además, tiene un centro, un radio que une
                  el centro con cualquier punto de la circunferencia, un diámetro que pasa por el centro y conecta dos puntos de la
                  circunferencia y una cuerda, que es semejante al diámetro, pero este segmento no pasa por el centro.</p>
                <p>El rombo pertenece al grupo de los <a href="poligonos">polígonos</a>, concretamente es un 
                  <a href="cuadrilatero">paralelogramo</a> con cuatro lados iguales y cuatro vértices. Cualquier paralelogramo que 
                  tiene los cuatro lados iguales es un rombo. </p>
                  <div class="s4">
                    <figure class="centrar">
                      <a href="assets/torre-pisa-arco.jpg" target="blank"><img class="image-arcos" src="assets/torre-pisa-arco.jpg"></a>
                      <figcaption>Arcos de la torre de Pisa</figcaption>
                    </figure>
                    <figure class="centrar">
                      <a href="assets/torre-pisa-rombo.jpg" target="blank"><img class="image-rombo" src="assets/torre-pisa-rombo.jpg"></a>
                      <figcaption>Rombos de la torre de Pisa</figcaption>
                    </figure>
                  </div>
                <p>Esta obra emplea el semicírculo para la creación de arcos presentes en todos los niveles. En cambio, el rombo solo 
                  aparece en el nivel inferior. </p>
                <p class="elemento">Cilindro</p>
                <p>El cilindro es un cuerpo geométrico formado por un rectángulo que gira alrededor de sus lados y dos círculos que se 
                  llamarán bases. Existen dos tipos: rectangular, cuando el eje es perpendicular a las bases, y oblicuo, en caso contrario. </p>
                <div class="s4">
                  <figure class="centrar">
                    <a href="assets/pisa-cilindro.jpg" target="blank"><img class="image-cilindro" src="assets/pisa-cilindro.jpg"></a>
                    <figcaption>Figura de un cilindro oblicuo</figcaption>
                  </figure>
                  <figure class="centrar">
                    <a href="assets/torre-pisa-cilindro.jpg" target="blank"><img class="image-cilindro" src="assets/torre-pisa-cilindro.jpg"></a>
                    <figcaption>Muestra de cilindro en la torre de Pisa</figcaption>
                  </figure>
                </div>
                <p>En el caso de la torre de Pisa, se trata de un cilindro oblicuo debido a su inclinación. </p>
                <p class="elemento">Escalera de caracol</p>
                <p>También se denomina escalera helicoidal. Se construy alrededor de una barra vertical que sirve de eje a la hélice que 
                  constituye la sucesión de escalones. Para su diseño se debe determinar la altura de estos últimos y el ángulo de rotación.
                  Destacan gran cantidad de formas con las que se pueden construir: circulares, cuadrangulares, entre otras. </p>
                <figure class="s2">
                  <a href="assets/torre-pisa-escalera.jpg" target="blank"><img class="image-historia" src="assets/torre-pisa-escalera.jpg"></a>
                  <figcaption>Escalera de la torre de Pisa</figcaption>
                </figure>
                <p>La torre de Pisa posee una escalera de caracol circular en su interior que permite subir a su último nivel. En este caso,
                  está construida en torno a un pilar interior de la torre.
                </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  
