<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">¡Bienvenido!</h1>
          </div>
        </div>
      </section>
    </div>

    <div class="s2">
        <section class="c-section-salient-list">
          <div class="o-grid">
            <div class="container">
              <div class="o-grid__row">
                <p>Aqui puedes ver los elementos matemáticos que aparecen en el mundo de la arquitectura, centrándose en algunas de las obras arquitectónicas
                    más relevantes y sus autores. </p>
                <p>Todas las obras son anteriores al final de la Edad Media.</p>

                <div class="boton">
                    <button class="btn" (click)="random()"><span>¡Comenzemos!</span></button>
                </div>
            </div>
        </div>
      </div> 
    </section> 
  </div>

</div>