<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Santiponce</h1>
            <h2 class="o-module-header__subtitle"><br>Pueblo edificado sobre las ruinas de la antigua ciudad romana de Itálica. Está situado 
              en la provincia de Servilla, en la comunidad autonóma de Andalucía, España. </h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s2">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6335.955744699135!2d-6.045560569889178!3d37.43762749735572!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd126b1e95fdd969%3A0xe03a591f0011c649!2s41970%20Santiponce%2C%20Sevilla!5e0!3m2!1ses!2ses!4v1656342893669!5m2!1ses!2ses"
      width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Historia -->
                <p>La ciudad de Itálica fue fundada en el año 206 a.C. por Publio Conerlio Escipión "El Africano". Nacía a orillas del río
                  Guadalquivir, debido a ello sufría frecuentes riadas, lo que acabo ocasionando en el año 1603 su sepultura. Los monjes del monasterio San 
                    Isidoro del Campo les cedieron a los supervivientes tierras más altas en las que fundaron el actual Santiponce.
                </p>

                <div class="s4">
                  <div class="centrado">
                    <a href="assets/anfiteatro-santiponce.jpeg"><img class="image-h" src="assets/anfiteatro-santiponce.jpeg"></a>
                    <figcaption>Anfiteatro romano</figcaption>
                  </div>
                  <div class="centrado">
                    <a href="assets/teatro-santiponce.jpg"><img class="image-h" src="assets/teatro-santiponce.jpg"></a>
                    <figcaption>Teatro romano</figcaption>
                  </div>
                </div>

                <p>En la actualidad, se puede visitar su anfiteatro romano y pasear por el trazado de lo que fueron sus calles. Así mismo,
                  se pueden descrubir las casas, edificios públicos, objetos de arte y utensilios de la vida cotidiana.
                </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>  
  </div>
  

