<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Acueducto de Segovia</h1>
            <h2 class="o-module-header__subtitle">Está situado en Segovia, España y durante mucho tiempo su fecha de contrucción fue un misterio.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <div class="centrar">
        <a href="assets/acueducto-de-segovia.jpg" target="blank"><img class="image-acueducto" src="assets/acueducto-de-segovia.jpg"></a>
        <figcaption>Acueducto de Segovia</figcaption>
      </div>
      <div class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1838.3421100612557!2d-4.118153091723892!3d40.947595720724976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd413edd1a42faab%3A0x1c54c7c2757b5e2c!2sAcueducto%20de%20Segovia!5e1!3m2!1ses!2ses!4v1656343747502!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>Existen dos leyendas sobre su construcción: </p>
                <ol>
                  <li>Fue levantado con sus propias manos por Hercules Egipcio. </li>
                  <li>El diablo lo contruyó a cambio del alma de una joven que cruzaba todos los dias la vaguada. Pero el trato se rompió.
                    El diablo, enfadado por la perdida, confundiría a todos aquellos que intentasen contar el número de arcos que tiene 
                    el acueducto. </li>
                </ol>
                <p>En recuerdo a estas dos leyendas, se encontraban dos imagenes, situadas en nichos, una a cada lado del acueducto. En la
                  actualidad, en el lugar de la Hercules se sitúa una imagen de Virgen y en el otro lado una imagen de San Esteban, sin 
                  embargo, esta última se encuentra perdida. </p>
                <p>En cuanto a la fecha de su construcción, a finales del siglo XX, Geza Alföldy, estudiando las anclas que sujetaban las 
                  letras de bronce, descifró el texto de la placa de dedicación, que indicaba el nombre de su constructor y la fecha de
                  construcción. Obteniendo que fue el emperador Domiciano quien ordenó su construcción finalizandose en el año 98. Sin
                  embargo, en 2016 se encontraron evidencias arqueológicas que apuntan a una fecha posterior, después del año 112 durante
                  el gobierno de Trajano o a partir del año 117, al inicio del gobierno del emperador Adriano. </p>
              </section>
              <section>
                <h3>Construcción</h3>
                <p>La construcción del acueducto sigue los principios establecidos por Vitruvio en su <i>De Architectura</i> que publicó
                  a mediados del siglo I a.C.</p>
                <p>El principal objetivo de su construcción fue el transporte de agua del río Acedeba hasta la parte alta de la ciudad. El 
                  primer tramo del acueducto está formado por 36 arcos de medio punto, reconstruidos en el siglo XV para restaurar una 
                  parte dañada por los arabes en el año 1072. </p>
                <p>El acueducto se compone de dos niveles, el nivel inferior está formado por 119 arcos y el nivel superior por 44 arcos con
                   pilares más cortos y estrechos. La parte superior contiene el canal por el que viaja el agua mediante un hueco en forma 
                   de 'U' de 0.55 metros de alto y 0.46 metros de diametro. </p>
                
                <div class="s2">
                  <a href="assets/acueducto-sillar.jpg" target="blank"><img class="image" src="assets/acueducto-sillar.jpg"></a>
                  <br> <i>Sillares del acueducto de Segovia</i>
                </div>

                <p>En resumen, consta de pilares y arcos, constituidos a su vez por sillares (piedras labradas en forma de rectángulo) y
                  unidos sin ningún tipo de argamasa. Estos se mantienen a causa de un perfecto estudio de las fuerzas de empuje entre
                  los grandes bloques de piedra. </p>
              </section>
              <section>
                <h3>Actualidad</h3>
                <p>El monumento se ha conservado en buen estado, sin grandes transformaciones, debido a la sobrecogedora y misteriosa 
                  grandeza de la estructura. </p>
                <p>En el año 1985, fue declarado Patrimonio de la Humanidad por ser una de las más grandes obras de ingeniería hidráulica 
                  del Imperio Romano. </p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elemento matemático: Semicírculo</h3>
                <div class="s2">
                  <a href="assets/acueducto-dovela.jpg" target="blank"><img class="image-dovela" src="assets/acueducto-dovela.jpg"></a>
                  <br> <i>Dovela</i>
                </div>
                <p>El círculo es una figura geométrica realizado con una curva que se mantiene siempre a la misma distancia de un punto
                  central. Tiene distintas partes, entre ellas se encuentra la circunferencia que hace referencia a la línea que rodea
                  al círculo. Por tanto, el círculo es todo lo que contiene la circunferencia. Además, tiene un centro, un radio que une
                  el centro con cualquier punto de la circunferencia, un diámetro que pasa por el centro y conecta dos puntos de la
                  circunferencia y una cuerda, que es semejante al diámetro, pero este segmento no pasa por el centro.</p>
                <p>En el acueducto esta presente el semicírculo, que como su nombre indica, es la mitad de un círculo. Los romanos 
                  construyeron los arcos del acueducto con sillares, llamándoles dovelas. Estas se usan con mucha frecuencia en la 
                  arquitectura. Se caracterizan por tener sus lados rectos, por lo que describen un <a class="poligonos">polígono</a> 
                  con un número suficiente de lados como para asemejase lo suficiente a un semicírculo.</p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  