<div class="content" >
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a id="inicio" routerLink="/inicio">Inicio</a>
        </li>

        <br>

        <li class="nav-item">
            <a id="acueductoSegovia" routerLink="/acueductoSegovia">Acueducto de Segovia</a>
        </li>
        <li class="nav-item">
            <a id="baptisterio" routerLink="/baptisterio">Baptisterio de San Juan</a>
        </li>
        <li class="nav-item">
            <a id="catedralPisa" routerLink="/catedralPisa">Catedral de Pisa</a>
        </li>
        <li class="nav-item">
            <a id="mezquitaSamarra" routerLink="/mezquitaSamarra">Gran Mezquita de Samarra</a>
        </li>
        <li class="nav-item">
            <a id="panteonRoma" routerLink="/panteonRoma">Panteón de Roma</a>
        </li>
        <li class="nav-item">
            <a id="partenon" routerLink="/partenon">Partenón</a>
        </li>
        <li class="nav-item">
            <a id="piramidesGiza" routerLink="/piramidesGiza">Piramides de Giza</a>
        </li>
        <li class="nav-item">
            <a id="sforzinda" routerLink="/sforzinda">Sforzinda</a>
        </li>
        <li class="nav-item">
            <a id="templo" routerLink="/templo">Templo Kandariya Mahadeva</a>
        </li>
        <li class="nav-item">
            <a id="torrePisa" routerLink="/torrePisa">Torre de Pisa</a>
        </li>
    </ul>
</div>
