<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Gran mezquita de Samarra</h1>
            <h2 class="o-module-header__subtitle">Situada en Samarra, Irak. Fue encargada en el año 848, finalizando su contrucción en 851.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <div class="centrar">
        <a href="assets/samarra.png" target="blank"><img class="image" src="assets/samarra.png"></a>
        <figcaption>Gran mezquita de Samarra</figcaption>
      </div>
      <div class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4025.781882615684!2d43.87853897358428!3d34.20564278453071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1556d1f298bc71f7%3A0xafe839c5ce96d40c!2sGran%20Mezquita%20de%20Samarra!5e1!3m2!1ses!2ses!4v1656343374147!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>Esta edficación fue solicitada por el califa al-Mutawakkil. Llegó a ser la mezquita más grande del mundo. Esta formada por 
                    44 torres semicirculares que aportan un aspecto de fortaleza, 2 amplias vallar que constituian la ziyada (sala de oración),
                    el patio dispone de anchos porticos. Su edificación se llevó a lo largo del eje norte-sur, teniendo una longitud de 41.5 km
                    y una anchura entre 4 km y 8 km. Su elemento más caracteristico es la espiral Minarete Malwiya situada al norte, una 
                    rampa helicodial que gira en sentido antihorario de 55 metros de altura y 33 metros de anchura. Este se utilizaba para 
                    convocar a los fieles a la plegaria. Su diseño se considera una derivación de los zigurats mesopotámicos. </p>
                <p>En 1278, la mezquita fue destruida tras la invasión de Hulagu Khan, un gobernante mongol que se dedicó a la conquista de 
                    gran parte del suroccidente asiático. Por tanto, en la actualidad, solo siguen en pie el muro el exterior y el minarete. 
                    En 2005, el minarete fue dañado a causa de una bomba durante la Guerra de Irak. </p>
                <p>La mezquita acabo perteneciendo la llamada "Ciudad Arqueológica de Sammarra". En 2015, se firmó un acuerdo con el fin de  
                    protegerla e impulsar su restauración. </p>
                <p>Respecto al autor, esta obra no tiene uno claro excepto el mandato de su edificación del califa al-Mutawakkil. </p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elemento matemático: Simetría y espiral</h3>
                <p>La mezquita de Samarra muestra simetría bilateral y el uso de las espirales. </p>
                <p class="elemento">Simetría bilateral</p>

                <div class="s2">
                  <a href="assets/samarra-plano-simetria.jpg" target="blank"><img class="image-plano" src="assets/samarra-plano-simetria.jpg"></a>
                  <figcaption>Mustra simetría bilateral en la planta de la gran mezquita de Samarra</figcaption>
                </div>

                <p>Produce la división de un elemento en lado izquierdo y derecho a lo largo del plano sagital, siendo este un plano
                  perpedicular al suelo y en ángulo recto que divide un cuerpo en dos mitades. La simetría bilateral no implica que 
                  ambos lados sean identicos, pero muchos elementos muestran una similitud del 90%. </p>
                <p>En el caso de la mezquita, trazando un corte por el eje norte-sur en el que se encuentra construida obetenemos dos mitades
                    iguales entre sí. </p>
                <p class="elemento">Espiral</p>

                <div class="s2">
                  <a href="assets/samarra-minarete.jpeg" target="blank"><img class="image-minarete" src="assets/samarra-minarete.jpeg"></a>
                  <figcaption>Mustra uso de la espiral en el Minarete</figcaption>
                </div>

                <p>La espiral se define como una curva plana que parte de un punto y cuya curvatura va disminuyendo progresivamente a medida que
                    aumenta su distancia al punto de origen. La espiral se relaciona con el simbolo de crecimiento, de movimiento o de progreso.
                    Por lo que el uso de la espiral en la construcción del minarete pudo representar el crecimiento de la fe. </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  
