<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Gran mezquita de Samarra</h1>
            <h2 class="o-module-header__subtitle">Situada en Samarra, Irak. Fue encargada en el año 848, finalizando su construcción en 851.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <figure class="centrar">
        <a href="assets/samarra.png" target="blank"><img class="image" src="assets/samarra.png"></a>
        <figcaption>Gran mezquita de Samarra</figcaption>
      </figure>
      <figure class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4025.781882615684!2d43.87853897358428!3d34.20564278453071!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1556d1f298bc71f7%3A0xafe839c5ce96d40c!2sGran%20Mezquita%20de%20Samarra!5e1!3m2!1ses!2ses!4v1656343374147!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </figure>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>Esta edificación fue solicitada por el califa al-Mutawakkil. Llegó a ser la mezquita más grande del mundo. Está formada por 
                    44 torres semicirculares que aportan un aspecto de fortaleza, 2 amplias vallar que constituían la ziyada (sala de oración),
                    el patio dispone de anchos pórticos. Su edificación se llevó a lo largo del eje norte-sur, teniendo una longitud de 41.5 km
                    y una anchura entre 4 km y 8 km. Su elemento más característico es la espiral Minarete Malwiya situada al norte, una 
                    rampa helicoidal que gira en sentido antihorario de 55 metros de altura y 33 metros de anchura. Este se utilizaba para 
                    convocar a los fieles a la plegaria. Su diseño se considera una derivación de los zigurats mesopotámicos. </p>
                <p>En 1278, la mezquita fue destruida tras la invasión de Hulagu Khan, un gobernante mongol que se dedicó a la conquista de 
                    gran parte del sur occidente asiático. Por tanto, en la actualidad, solo siguen en pie el muro exterior y el minarete. 
                    En 2005, el minarete fue dañado a causa de una bomba durante la Guerra de Irak. </p>
                <p>La mezquita acabó perteneciendo la llamada "Ciudad Arqueológica de Sammarra". En 2015, se firmó un acuerdo con el fin de  
                    protegerla e impulsar su restauración. </p>
                <p>Respecto al autor, esta obra no tiene uno claro, excepto el mandato de su edificación del califa al-Mutawakkil. </p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elementos matemáticos: Simetría y espiral</h3>
                <p>La mezquita de Samarra muestra simetría bilateral y el uso de las espirales. </p>
                <p class="elemento">Simetría bilateral</p>

                <figure class="s2">
                  <a href="assets/samarra-plano-simetria.jpg" target="blank"><img class="image-plano" src="assets/samarra-plano-simetria.jpg"></a>
                  <figcaption>Muestra simetría bilateral en la planta de la gran mezquita de Samarra</figcaption>
                </figure>

                <p>Produce la división de un elemento en lado izquierdo y derecho a lo largo del plano sagital, siendo este un plano
                  perpendicular al suelo y en ángulo recto que divide un cuerpo en dos mitades. La simetría bilateral no implica que 
                  ambos lados sean idénticos, pero muchos elementos muestran una similitud del 90%. </p>
                <p>En el caso de la mezquita, trazando un corte por el eje norte-sur en el que se encuentra construida, obetenemos dos mitades
                    iguales entre sí. </p>
                <p class="elemento">Espiral</p>

                <figure class="s2">
                  <a href="assets/samarra-minarete.jpeg" target="blank"><img class="image-minarete" src="assets/samarra-minarete.jpeg"></a>
                  <figcaption>Muestra uso de la espiral en el Minarete</figcaption>
                </figure>

                <p>La espiral se define como una curva plana que parte de un punto y cuya curvatura va disminuyendo progresivamente a medida que
                    aumenta su distancia al punto de origen. La espiral se relaciona con el simbolo de crecimiento, de movimiento o de progreso.
                    Por lo que el uso de la espiral en la construcción del minarete pudo representar el crecimiento de la fe. </p>
                <p>Existen distintos tipos de espirales bidimensionales: </p>
                <figure class="s2">
                  <a href="assets/tipos-espirales.png" target="blank"><img class="image-tipos" src="assets/tipos-espirales.png"></a>
                  <figcaption>Tipos de espirales</figcaption>
                </figure>
                <ul>
                  <li>Espiral de Arquímedes: Es la más común de imaginar. La curva se va alejando del centro dejando, siempre, la misma 
                    distancia. Es descrita por la ecuación: r=a+bθ siendo a y b números. El primer valor controla el desplazamiento en el 
                    eje X y el segundo la distancia que se deja entre cada giro. </li>
                  <li>Espiral clotoide: El radio de la curva y la distancia al punto central son inversamente proporcionales. Se puede 
                    decir que el radio en el punto es infinito. Su fórmula es: ρ ∙ s=C^2, siendo ρ el radio de la curva, s el arco y C la 
                    constante de la espiral.
                  </li>
                  <li>	Espiral de Fermat o espiral parabólica: Es un caso singular de la espiral de Arquímedes. Se puede ver como dos 
                    espirales de este tipo, causado por contener, en su fórmula, una raíz cuadrada. Esto ocasiona que cada supuesto tenga 
                    dos soluciones, una positiva y una negativa. La expresión matemática que la define es: 
                    $$ r = \pm\theta^&#123;\frac&#123;1&#125; &#123;2&#125;&#125; $$
                  </li>
                  <li>	Espiral hiperbólica: Es la inversa a la espiral de Arquímedes. Comienza con un radio sumamente grande (infinito) 
                    y disminuye hasta llegar al punto central. La ecuación que la representa es: $$ r=a ⁄ \theta $$
                  </li>
                  <li>	Espiral logarítmica: Aparece en la naturaleza frecuentemente. Parte del centro, aumentando la distancia a la curva 
                    progresivamente. Es decir, el radio aumenta en relación con los valores anteriores. Determinada por la fórmula: 
                    $$ \theta = \log_b⁡(\frac&#123;r&#125; &#123;a&#125;) $$
                  </li>
                </ul>
                <p>La espiral más común que aparece en la naturaleza es la logarítmica. Esta está presente en algunos moluscos, que un gran 
                  número de moluscos crecen con su forma, en la representación de los huracanes, en las margaritas o la galaxia, entre otros. 
                  La espiral de Arquímedes también aparece, aunque con mucha menos frecuencia, es el caso de las telas de arañas.</p>
                  <figure class="s2">
                    <a href="assets/logaritmica-naturaleza.jpg" target="blank"><img class="image-naturaleza" src="assets/logaritmica-naturaleza.jpg"></a>
                    <figcaption>Espiral logarítmica en la naturaleza</figcaption>
                  </figure>
                  <figure class="s2">
                    <a href="assets/arquimedes-naturaleza.jpg" target="blank"><img class="image-naturaleza" src="assets/arquimedes-naturaleza.jpg"></a>
                    <figcaption>Espiral de Arquímedes en la naturaleza</figcaption>
                  </figure>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  
