<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Triángulos</h1>
          </div>
        </div>
      </section>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
                <section> <!-- Definición poligono -->
                    <p>Son <a href="poligonos">polígonos</a> con tres lados y tres vértices. Es el polígono más simple y el único que no tiene ninguna diagonal. Todos
                        los polígono se pueden dividir en un número finito de triángulos. El número mínimo requerido para realizar la división
                        es de n-2, siendo n el número de lados de la figura.</p>
                    <h5>Propiedades</h5>
                    <ul>
                        <li>Siempre son convexos. Ninguno de sus tres ángulos puede ser mayor a 180º.</li>
                        <li>Todos verifican el Teorema del seno: 
                            <p class="formula">$$ \frac&#123;a&#125;&#123;\sin(\alpha)&#125; = \frac&#123;a&#125;&#123;\sin(\beta)&#125; = \frac&#123;a&#125;&#123;\sin(\gamma)&#125; $$</p>
                        </li>
                        <li>Asimismo, confirman el Teorema del coseno:
                            <p class="formula">$$ a^2 = b^2 + c^2 - 2bc \cdot cos(\alpha) $$</p>
                            <p class="formula">$$ b^2 = a^2 + c^2 - 2ac \cdot cos(\beta) $$</p>
                            <p class="formula">$$ c^2 = a^2 + b^2 - 2ab \cdot cos(\gamma) $$</p>
                        </li>
                        <li>En general, el cálculo de los lados y los ángulos se realiza mediante el uso de los teoremas del seno y del coseno. En cambio, para los 
                            triángulos rectángulos se utiliza el Teorema de Pitágoras. Cualquier triángulo rectángulo, con hipotenusa c y catetos a y b, verifican:
                            <p class="formula">$$ c^2 = a^2 + b^2 $$</p>
                            <p class="formula">$$ \sin\alpha = \frac&#123;a&#125;&#123;c&#125; $$</p>
                            <p class="formula">$$ \cos\alpha = \frac&#123;b&#125;&#123;c&#125; $$</p>
                            <p class="formula">$$ \tan\alpha = \frac&#123;a&#125;&#123;b&#125; $$</p>
                        </li>
                        <li>En geometría euclídea, si se suman los tres ángulos interiores es siempre 180º:
                            <p class="formula">$$ \alpha + \beta + \gamma = 180º = \pi \text &#123; radianes&#125; $$</p>
                        </li>
                        <li>El área de un triángulo se calcula a partir de la base y la altura:
                            <p class="formula">$$ A = \frac &#123;a \times h_a&#125; &#123;2&#125; $$</p>
                            <p class="formula">$$ A = \frac &#123;b \times h_b&#125; &#123;2&#125; $$</p>
                            <p class="formula">$$ A = \frac &#123;c \times h_c&#125; &#123;2&#125; $$</p>
                        </li>
                    </ul>
                    <h5>Clasificación por sus lados</h5>
                    <figure class="s2">
                      <a href="assets/triangulos-lados.png" target="blank"><img class="image" src="assets/triangulos-lados.png"></a>
                      <figcaption>Tipos de triángulos según sus lados</figcaption>
                    </figure>
                    <ul>
                        <li>Isósceles: Tienen al menos dos ángulos iguales.
                            <p class="formula">$$ Perimetro = 3 \cdot l $$</p>
                        </li>
                        <li>Escalenos: Poseen sus tres ángulos y sus tres lados con diferentes medidas.
                            <p class="formula">$$ Perimetro = 3 \cdot l + b $$</p>
                        </li>
                        <li>Equiláteros: Cuando sus tres lados tienen la misma longitud, lo que ocasiona que sus tres ángulos tengan 60º.
                            <p class="formula">$$ Perimetro = a + b + c $$</p>
                        </li>
                    </ul>
                    <h5>Clasificación por sus ángulos</h5>
                    <figure class="s2">
                      <a href="assets/triangulos-angulos.png" target="blank"><img class="image" src="assets/triangulos-angulos.png"></a>
                      <figcaption>Tipos de triángulos según sus ángulos</figcaption>
                    </figure>
                    <ul>
                        <li>Rectángulos: Uno de sus ángulos interiores es recto, es decir, tiene 90º. Los lados que forman este ángulo se denominan
                            catetos y al restante hipotenusa. </li>
                        <li>Acutángulos: Poseen sus tres ángulos interiores menores a 90º.</li>
                        <li>Obtusángulos: Cuando uno de sus ángulos es obtuso, esto es mayor a 90º. Puesto que sus tres ángulos suman 180º, los 
                            otros dos deben ser agudos (menores de 90º). </li>
                        <li>Oblicuángulos: Ninguno de sus ángulos interiores es recto. Por tanto, los dos anteriores, acutángulos y obtusángulos, se 
                            clasifican como oblicuángulos. </li>
                    </ul>
                </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
</div>