<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Octógonos</h1>
          </div>
        </div>
      </section>
    </div>

    <!-- <div class="s2">
      <a href="assets/acueducto-de-segovia.jpg" target="blank"><img class="image" src="assets/acueducto-de-segovia.jpg"></a>
      <br> <i>Acueducto de Segovia</i>
    </div> -->
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
                <section>
                    <p>Figuras planas formadas por ocho lados, ocho vértices y ocho ángulos interiores.</p>
                    <h2>Propiedades</h2>
                    <ul>
                        <li>Tienen veinte diagonales y un incentro. Este último es el punto central de la circunferencia insctita. Las diagonales se 
                            cruzan en un punto interior solo si es convexo.
                            <div class="s2">
                                <div class="centrar">
                                    <a href="assets/octogono-diagonales.png" target="blank"><img class="image" src="assets/octogono-diagonales.png"></a>
                                    <figcaption>Diagonales de un octógono</figcaption>
                                </div>
                                <div class="centrar">
                                  <a href="assets/octogono-incentro.png" target="blank"><img class="image" src="assets/octogono-incentro.png"></a>
                                  <figcaption>Incentro de un octógono</figcaption>
                                </div>
                            </div></li>
                        <li>La suma de todos sus ángulos interiores es siempre 1080º. Si se trata de un octógono regular cada uno de ellos tendrá 135º. 
                            <p class="formula">$$ \alpha + \beta + \gamma + \delta + \gamma + \epsilon + \zeta + \eta + \theta = 1080º = 6\pi 
                                \text &#123; radianes&#125; $$</p>
                        </li>
                        <li>La suma de sus ángulos externos es 360º. Cuando es regular cada ángulo es de 45º.</li>
                    </ul>
                    <h2>Clasificación por sus lados</h2>
                    <div class="s4">
                        <a href="assets/octogonos-lados.png" target="blank"><img class="image-lados" src="assets/octogonos-lados.png"></a>
                        <figcaption>Tipos de octógonos según sus lados</figcaption>
                      </div>
                    <ul>
                        <li>Regular: Todos sus lados y ángulos son iguales.
                            <p class="formula">$$ Perímetro = 8 \cdot l \text &#123; , siendo l la longitud de un lado.&#125; $$</p>
                            <p class="formula">$$ A = 4la \text &#123; , siendo l la longitud de un lado y a la logitud de su apotema.&#125; $$</p>
                            <p class="formula">$$ a = \frac &#123;l&#125; &#123;2 \cdot \tan(22.5)&#125; \text &#123; , siendo l la longitud de un 
                                lado y a la logitud de su apotema.&#125; $$</p>
                        </li>
                        <li>Irregular: Tiene lados y ángulos de distintas medidas.
                            <p class="formula">$$ Perímetro = a + b + c + d + e + f + g + h $$</p>
                            Para calcular el área se debe dividir en triángulos y sumar las áreas de estos.
                        </li>
                    </ul>
                    <h2>Clasificación por sus ángulos</h2>
                    <p>Para esta clasificación se utiliza la de los <a href="poligonos">polígonos</a>. Por tanto:</p>
                    <div class="s4">
                        <a href="assets/octogonos-angulos.png" target="blank"><img class="image-lados" src="assets/octogonos-angulos.png"></a>
                        <figcaption>Tipos de octógonos según sus ángulos</figcaption>
                      </div>
                    <ul>
                        <li>Convexos: Posee todos sus ángulos interiores menores a 180º.</li>
                        <li>Cóncavos: Tiene al menos un ángulo interior mayor a 180º.</li>
                    </ul>
                </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
</div>
