<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Catedral de Pisa</h1>
            <h2 class="o-module-header__subtitle">Situada en la plaza del Duomo de Pisa, en la ciudad homonima, en Italia.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <div class="centrar">
          <a href="assets/catedral-pisa.jpg" target="blank"><img class="image" src="assets/catedral-pisa.jpg"></a>
          <figcaption>Catedral de Pisa</figcaption>
      </div>
      <div class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3517.8820717408075!2d10.39367561572463!3d43.723290955913164!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12d591a75ee2ab3f%3A0x4b36a82a6d1281e1!2sCatedral%20de%20Pisa!5e1!3m2!1ses!2ses!4v1656344214203!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>

    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p> Su construcción fue realizada a través de las ganancias de la vistoria sobre los sarracenos en Palermo (1063) finalizando con
                  su consgración en el año 1118. Fue llevada a cabo por el arquitecto Buschetto, del cual a penas se conoce este trabajo. Sus 
                  origenes son medievales y aunque está dedicada a Santa María de la Asunción, en un principio fue denominada Catedral de Santa 
                  María la Mayor. Eu estilo es una variante de la planta basilical mediterránea con influencias de la arquitectura armenia,
                  siria e islámica. </p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elemento matemático: Raices</h3>

                <p>La catedral de Pisa presenta varios elementos en su cara frontal: arcos, rombo y trapecio</p>
                <div class="s2">
                  <a href="assets/catedral-pisa-frente.jpg" target="blank"><img class="image-frente" src="assets/catedral-pisa-frente.jpg"></a>
                  <br> <i>Frente de la catedral de Pisa</i>
                </div>

                <p class="elemento">Arcos</p>
                <p>El círculo es una figura geométrica realizado con una curva que se mantiene siempre a la misma distancia de un punto
                  central. Tiene distintas partes, entre ellas se encuentra la circunferencia que hace referencia a la línea que rodea
                  al círculo. Por tanto, el círculo es todo lo que contiene la circunferencia. Además, tiene un centro, un radio que une
                  el centro con cualquier punto de la circunferencia, un diámetro que pasa por el centro y conecta dos puntos de la
                  circunferencia y una cuerda, que es semejante al diámetro pero este segmento no pasa por el centro.</p>
                <p>En la catedral de Pisa, se utiliza el semicírculo para la construcción de arcos. Estos se pueden visualizar en la 
                  cara principal del edificio.  </p>

                <p class="elemento">Rombo</p>
                <p>El rombo pertenece al grupo de los <a href="poligonos">polígonos</a>, más concretamente, se trata de un 
                  <a href="cuadrilatero">paralelogramo</a> con cuatro lados iguales y cuatro vértices. Cualquier paralelogramo que 
                  tiene los cuatro lados iguales es un rombo. </p>
                <div class="s2">
                  <a href="assets/catedral-pisa-rombos.png" target="blank"><img class="image-rombos" src="assets/catedral-pisa-rombos.png"></a>
                  <br> <i>Vista de los rombos de la catedral de Pisa</i>
                </div>
                <p>En este caso, el rombo está usandose principalmente para la decoración de la cara delantera, pero integrandose con la 
                  arquitectura.
                </p>

                <p class="elemento">Trapecio</p>
                <p>El trapecio es un <a href="poligonos">polígono</a>, particularmente, se corresponde con un 
                  <a href="cuadrilatero">cuadrilátero</a> con cuatro lados y cuatro vértices. De estos cuatro lados, solo dos son paralelos. </p>
                <div class="s2">
                  <a href="assets/catedral-pisa-trapecio.png" target="blank"><img class="image-rombos" src="assets/catedral-pisa-trapecio.png"></a>
                  <br> <i>Vista del trapecio de la catedral de Pisa</i>
                </div>
                <p>La catedral de Pisa presenta un trapecio isósceles, pues sus dos lados que no son paralelos tienen la misma medida. </p>

                <p class="elemento">Raices</p>
                <div class="s2">
                  <a href="assets/pisa_raices.png" target="blank"><img class="image" src="assets/pisa_raices.png"></a>
                  <br> <i>Raices</i>
                </div>
                
                <p> El elemento que se utiliza son las raices de 3 y 5, estando presentes en la planta de la catedral. </p>
                <p> La planta originalmente era de cruz griega, </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  