<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Publio Elio Adriano</h1>
            <h2 class="o-module-header__subtitle">Fue emperador el Imperio Romano entre los años 117 y 138.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s2">
      <img class="image" src="assets/adriano.jpeg">
      <br> <i>Busto del emperador Adriano</i>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Biografía -->
                <p>Nació el 24 de enero del año 76 en Itálica, actual municipio de <a href="santiponce">Santiponce</a>. Adriano quedo huerfano a los ocho años, acogiendolo un 
                    pariente suyo, el emperador Trajano, a quien acompaño en algunas batallas. Así mismo, durante el reinado de 
                    Trajano le fueron dados distintos titulos.
                </p>
                <section class="timeline">
                    <ol>
                        <li><div><time>105-106</time>Guerra de Dacia</div></li>
                        <li><div><time>107</time>Gobernador de Panonina <br> Inferior</div></li>
                        <li><div><time>109</time>Cónsul</div></li>
                        <li><div><time>116</time>Gobernador de Siria</div></li>
                        <li><div><time>117</time>Muerte de Trajano en <br> una campaña en Sicilia. <br> La esposa de Trajano, <br>
                            Plotina, eligio como <br> sucesor a Adriano.</div></li>
                    </ol>
                </section>
                <p>La mayor parte de su reinado, doce años, los paso visitando las provincias de todo el Imperio y supervisando la
                    administación y disciplina del ejército. </p>
                <p>Los proyectos de construcción de Adriano son su legado mas perdurable. Levanto ciudades en toda la península balcánica,
                    Egipto, Asia Menor y Grecia. En Egipto, fundó la ciudad de Antinoópolis, en honor a su joven amante Antínoo, quien 
                    murió ahogado en el río Nilo en el año 130. En Roma, reconstruyó el Panteón y el Foro de Trajano. </p>
                <p>De todas sus contrucciones, el <a href="muroAdriano">Muro de Adriano</a>, situado en el Norte de Gran Bretaña, es el más famoso.
                    Promovió grandes construcciones como el anfiteatro de Nimes, el anfiteatro de Venus, el castillo de Sant'Angelo y los
                    puentes del Tiber en Roma. </p>
                <p>Hacia el fin de su reinado, fue abandadonado por sus fundamentales colaboradores, lo que no le permitió restaurar la
                    sucesión hereditaria. Adriano murio en el año 138, a la edad de 62 años, sucediendole su hijo adoptivo, Antonino Pío. </p>
                <p>Para concluir, el historiador Edward Gibbon escribió sobre su reinado: </p>
                <div class="dMencion">
                <p class="pMencion">[El gobierno de Adriano fue] el período de la historia del mundo durante el cual la condición de la raza
                    humana fue más feliz y próspera ... cuando la vasta extensión del Imperio romano estaba gobernada por un poder absoluto
                    bajo la guía de la virtud y la sabiduría. </p>
                </div>
              </section>
              <section> 
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  