<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Muro de Adriano</h1>
            <h2 class="o-module-header__subtitle">Antigua fortificación defensiva al norte de Britania que data del año 122.</h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <figure class="centrar">
        <a href="assets/muro_adriano_2.jpg" target="blank"><img class="image" src="assets/muro_adriano_2.jpg"></a>
        <figcaption>Muro de Adriano</figcaption>
      </figure>
      <figure class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1396.390083318726!2d-2.6029086584747323!3d54.98947070041444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x487da710505280b7%3A0xdaeba891f594f61a!2sMuro%20de%20Adriano!5e1!3m2!1ses!2ses!4v1656342965900!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </figure>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Historia -->
                <p>El muro tiene una longitud de 120 kilómetros. Aunque habitualmente se piensa que su construcción fue destinada a 
                    marcar la frontera entre Britania y Escocia, no es así, hasta el momento nadie conoce la verdadera motivación
                    para su construcción. </p>
                <p>Inicialmente, esta obra se inició en piedra en el este y transitó hacia el oeste para demostrar el imponente
                    poder de Roma. Este proyecto fue completado en seis años por las legiones romanas situadas en Britania. </p>
                <p>Después de la retirada romana, los vecinos tomaron grandes porciones del muro para su uso personal. En los
                    siglos 6 y 7 d.C., se utilizaron piedras del muro en lugares tan lejanos como el Reino de Northumbria y la
                    Abadia de Monkwearmouth-Jarrow. </p>
                <figure class="s2">
                  <a href="assets/muro-adriano-1.jpg" target="blank"><img class="image-1" src="assets/muro-adriano-1.jpg"></a>
                  <figcaption>Muro de Adriano en la actualidad</figcaption>
                </figure>
                <p>En la actualidad, debido a los esfuerzos del anticuario John Clayton (1792-1890), quien en 1834 comenzó a adquirir
                    las tierras cercanas al muro, el muro de Adriano no ha desaparecido en su totalidad. Las excavaciones de Clayton
                    y su pasión por el lugar mantuvieron intactos los restos y en 1987 fue declarado Sitio Patrimonio de la Humanidad
                    por la UNESCO. </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  
