<div class="allS">
    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Sforzinda</h1>
            <h2 class="o-module-header__subtitle">Es una ciudad ideal que nunca se llegó a construir.</h2>
          </div>
        </div>
      </section>
    </div>

    <figure class="s2">
      <a href="assets/sforzinda-distancia-girado.jpg" target="blank"><img class="image" src="assets/sforzinda.jpg"></a>
      <figcaption>Ciudad de Sforzinda</figcaption>
    </figure>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>Esta ciudad nunca llegó a construirse, su autor, <a href="filarete">Filarete</a> la describió en su libro <i>Tratado de
                  Arquitectura</i>. Sin embargo, en 1953 se construyó una ciudad inspirada en Sforzinda, Palmanova. Esta ciudad también
                  sirve de inspiración a otras muchas ciudades actuales, tales como París, teniendo su como su centro el Arco del Triunfo,
                  Londres, Viena, Bruselas o Madrid. En estas cuatro últimas ciudades no se visualiza tan claramente cuál es el centro,
                  aun así también siguen el mismo patrón descrito, pues con las ampliaciones se puede llegar a observar formas circulares. </p>
                <p>Filarete quiso mostrar en la ciudad la importancia de la perfección, la simetría, la proporción y la relación con el cuerpo
                  humano que predominaban en la época. De hecho, el autor la comparaba con un cuerpo humano ideal. </p>
                <p>La ciudad se encontraría en el interior de un círculo, siendo este una muralla, en el que hay dos cuadrados en cruz,
                  formando una estrella de ocho puntas, teniendo cada una de ellas situada una torre. Estas dos formas erán las figuras
                  geométricas más perfectas de la época. En los ángulos que se forman se encontrarían las puertas de entrada. Partiendo de 
                  cada torre y cada puerta, una calle hacia el centro del círculo donde se ubicarían los edificios más importantes.</p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elementos matemáticos: Isometría y Simetría</h3>
                <p>La ciudad de Sforzinda presenta isometría y simetría radial. </p>
                <p class="elemento">Isometría</p>

                <div class="s4">
                  <figure class="centrar">
                      <a href="assets/sforzinda-distancia.jpg" target="blank"><img class="image-distancia" src="assets/sforzinda-distancia.jpg"></a>
                      <figcaption>Distancia entre dos puntos</figcaption>
                  </figure>
                  <figure class="centrar">
                      <a href="assets/sforzinda-distancia-girado.jpg" target="blank"><img class="image-distancia" src="assets/sforzinda-distancia-girado.jpg"></a>
                      <figcaption>Distancia entre dos puntos con giro</figcaption>
                  </figure>
                </div>

                <figure class="s2">
                  <a href="assets/sforzinda-mitad.jpg" target="blank"><img class="image-distancia" src="assets/sforzinda-mitad.jpg"></a>
                  <figcaption>Muesta obtención de dos mitades iguales</figcaption>
                </figure>

                <p>La definición técnica declara que la isometría es una característica que, en el espacio de la geometría, significa que 
                  en dos espacios o figuras geométricas se conservan las mismas distancias entre los puntos que la conforman. </p>
                <p>En este caso, si giramos la ciudad, los elementos de esta se encontrarán situados en una posición distinta, pero siempre
                  mantendrán sus dimensiones. Así mismo, si hacemos una división del círculo exterior, obtendremos dos mitades iguales
                  isométricas entre sí.</p>
                <p class="elemento">Simetría radial</p>

                <figure class="s2">
                  <a href="assets/sforzinda-rotacion.jpg" target="blank"><img class="image-distancia" src="assets/sforzinda-rotacion.jpg"></a>
                  <figcaption>Muesta de simetría radial</figcaption>
                </figure>

                <p>Produce dos mitades idénticas del elemento a lo largo de un eje central, es decir, cuando se corta desde cualquier ángulo 
                  genera dos mitades análogas entre sí. </p>
                <p>En este caso, se repite una parte del cuerpo ocho veces alrededor del centro, lo que se reconoce como octomerismo. Si 
                  cortamos la ciudad a través del centro obtendremos piezas idénticas. </p>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  
