<div class="allS">

    <div class="s1">
      <section>
        <div class="o-grid">
          <div class="o-module-header">
            <h1 class="o-module-header__title">Templo Kandariya Mahadeva</h1>
            <h2 class="o-module-header__subtitle">Su nombre significa el "Gran Dios de la Cueva". Está situado en India y su construcción fue 
              entre los años 1025 y 1050. </h2>
          </div>
        </div>
      </section>
    </div>

    <div class="s4">
      <figure class="centrar">
        <a href="assets/templo.jpg" target="blank"><img class="image" src="assets/templo.jpg"></a>
        <figcaption>Templo Kandariya Mahadeva</figcaption>
      </figure>
      <figure class="centrar">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3714.222107096685!2d79.91938667425075!3d24.852906915935037!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3982e601f9257c41%3A0x1401b6c7685ba6b!2sKandariya%20Mahadev%20Temple!5e1!3m2!1ses!2ses!4v1656343975540!5m2!1ses!2ses"
        width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </figure>
    </div>
  
    <div class="s3">
      <section class="c-section-salient-list">
        <div class="o-grid">
          <div class="container">
            <div class="o-grid__row">
              <section> <!-- Resumen historia construccion -->
                <h3>Historia</h3>
                <p>Más concretamente, este templo se encuentra en Khajuraho, que fue la capital de la dinastía Chandela, dinastía real del 
                  centro de la India. Su construcción se llevó a cabo durante el reinado de Vidyadhara, un poderoso gobernante que luchó 
                  contra Mahmud de Ghazni en la primera efofensiva lanzada por este último en el año 1019. Esta batalla no obtuvo un claro 
                  ganador, por lo que Mahmud tuvo que regresar a Ghazni. Sin embargo, regresó en el año 1022 atacando el fuerte de kalinjar.
                  El asedio del fuerte no tuvo éxito, fue levantado y ambos gobernantes pidieron una tregua y se separaron intercambiando 
                  regalos. En este caso, Vidyadhara festejo su éxito con la construcción del templo Kandariya Mahadeva, dedicado a la deidad 
                  de su familia, Shiva, deidificada en el <i>Sanctum Santorum</i> (lugar sagrado). </p>
                <p>En las inscripciones epigráficas situadas en una pilastra de la mandapa en el templo se menciona el nombre del constructor
                  del templo como Virimda, interpretado como el seudónimo de Vidyadhara. </p>
              </section>
              <section>
                <h3>Estructura</h3>
                <p>La arquitectura del templo es un conjunto de pórticos y torres que terminan en un shikhara o aguja, característica común 
                  desde el siglo X en los templos de la India central.
                </p>
              </section>
              <section>
                <h3>Actualidad</h3>
                <p>Es el templo más grande y ornamentado del grupo de templos medievales situados en Khajuraho en Madhya Pradesh,
                  India. Se considera uno de los mejores ejemplos de templos conservados de época medieval de la India. </p>
                <p>En el año 1986 la UNESCO lo añadió a la lista del Patrimonio Mundial.</p>
              </section>
              <section> <!-- Elementos matemáticos -->
                <h3>Elemento matemático: Fractal</h3>
                <p>El templo tiene una estructura que se asemeja a un fractal, en el que los detalles del templo se parecen a la construcción
                  completa, transmitiendo el mensaje sobre el infinito propio de la cosmología hinduista. </p>

                <figure class="s2">
                  <a href="assets/fractal.jpg" target="_blank"></a><img class="image" src="assets/fractal.jpg">
                  <figcaption>Ejemplo de fractal</figcaption>
                </figure>

                <p>El fractal se usa para designar objetos geométricos que tienen una estructura irregular presente en muchos comportamientos
                  y formas de la naturaleza. Sus principales características son la simplicidad de su construcción y la aparente complejidad
                  del producto final. </p>
                <p>Para su construcción se toma un segmento y se divide en tres partes iguales eliminando el segmento central. Con cada una
                  de las restantes partes se procede del mismo modo, y así infinitas veces. </p>
                <p>El estudio del fractal ha permitido comprender cuestiones como el crecimiento de las ramas de los árboles o la trayectoria 
                  de los rayos, entre otros.</p>
                <p>Es muy común que los fractales aparezcan en la naturaleza, algunos casos de hojas o corales. La más notable es la planta 
                  denominada romanesco, que tiene una forma muy característica, quizás es en la que más fácilmente se observe las semejanzas 
                  al fractal. </p>

                <figure class="s2">
                  <a href="assets/fractales-naturaleza.png" target="_blank"></a><img class="image-naturaleza" src="assets/fractales-naturaleza.png">
                  <figcaption>Fractales en la naturaleza: Girasol, hoja, romanesco y rayo</figcaption>
                </figure>
              </section>
            </div>
          </div>
        </div> 
      </section> 
    </div>
  
  </div>
  